* {
    margin: 0;
    padding: 0;
}

.container2 {
    width: 750px;
    height: fit-content;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 60px 40px;
    border-radius: 7px;
}

.first img {
    width: 160px;
    margin: -30px -31px;
}

.margin {
    margin-left: 10px;
}

.second h4 {
    font-weight: 400;
    margin-top: 15px;
}

.third {
    margin-top: 33px;
}

.t {
    font-size: 22px;
    margin-left: 25px;
    margin-top: 8px;
    font-weight: 500;
    cursor: pointer;
    color: #767676;
}

.s {
    font-size: 12px;
    margin-top: 20px;
    word-spacing: 2px;
    color: grey;
    margin-left: 10px;
    }
    
    .r {
    font-size: 15px;
    margin-top: 22px;
    padding: 10px;
    cursor: pointer;
    display: block;
    padding-left: 0;
    color: rgb(7, 66, 245);
    font-weight: 500;
    }
    .k{
    font-size: 15px;
    cursor: pointer;
    display: block;
    padding-left: 0;
    color: rgb(7, 66, 245);
    font-weight: 500;
    }
    
    .q {
    margin-top: 27px;
    padding: 8px 22px;
    display: block;
    background-color: #1a73e8;
    border-radius: 5px;
    color: #fff;
    width: 78px;
    cursor: pointer;
    }
.right-img {
    margin: 73px 0px 0px -12px;
}

.p {
    text-align: center;
    font-size: 17px;
}

.n {
    text-align: left;
    font-size: 15px;
}


.m {
    margin-top: 12px;
    text-align: right;
}

.m a {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    color: #767676;
    font-size: 15px;
}

.container3 {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}



.form-group.floating>label {
    bottom: 34px;
    left: 8px;
    position: relative;
    background-color: white;
    padding: 0px 5px 0px 5px;
    font-size: 1.1em;
    transition: 0.1s;
    pointer-events: none;
    
    transform-origin: bottom left;
}

.form-control.floating:focus~label{
    transform: translate(1px,-85%) scale(0.80);
    opacity: 1;
    color: #005ebf;
    
}

.form-control.floating:valid~label{
    transform-origin: bottom left;
    transform: translate(1px,-85%) scale(0.80);
    opacity: .8;
}