* {
    margin: 0;
    padding: 0;
}
.emails{
    border: 1px solid #ddd;
}
.emails:focus{
    border-color: #1a73e8;
}

.container2 {
    width: 450px;
    height: fit-content;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 60px 40px;
    border-radius: 7px;
}
.first{
    display: flex;
    justify-content: center;
}
.first img {
    width: 160px;
    margin: 0px 5rem 0px 5rem;
    
}
.lab{
    background-color: white;
    
}
/* .lab:hover{
    border-color: blue;
} */


.second{
    text-align: center;
}

.second h4 {
    
    font-weight: 400;
   
    /* margin: 0px 5rem 0px 5rem; */
}
.second h6 {
    
    font-weight: 450;
   
    margin: 0px 5rem 0px 5rem;
}

.third {
    margin-top: 33px;
}

.t {
    font-size: 22px;
    margin-left: 25px;
    margin-top: 8px;
    font-weight: 500;
    cursor: pointer;
    color: #767676;
}

.s {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
}


.r {
    font-size: 15px;
    margin-bottom: 10%;
    padding: 0px 0px 10px 0px;
    cursor: pointer;
    display: block;
    padding-left: 0;
    color: rgb(7, 66, 245);
    font-weight: 500;
}

.q {
    margin-top: 27px;
    padding: 8px 22px;
    display: block;
    background-color: #1a73e8;
    border-radius: 5px;
    color: #fff;
    width: 78px;
    cursor: pointer;
}

.right-img {
    margin: 73px 0px 0px -12px;
}

.p {
    text-align: center;
    font-size: 17px;
}

.n {
    text-align: left;
    font-size: 15px;
}


.m {
    margin-top: 12px;
    text-align: right;
}
.c {
    font-size: 15px;
    margin-top: 22px;
    padding: 10px;
    cursor: pointer;
    display: block;
    padding-left: 0;
    color: rgb(7, 66, 245);
    font-weight: 500;
}

.m a {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    color: #767676;
    font-size: 15px;
}